<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>My cinema</title>
    <link rel="stylesheet" href="css\style.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div class="body">
<div th:fragment="header">
<table>
<tr>
 <th rowspan="2"><img  th:src="@{/Img/logo.png}"/></th>
 <th rowspan="2"><h2>My cinema</h2></th>
<th><a th:href="@{/login}"><button type="button" name="button">Log in</button></a></th>
</tr>
<tr>
 <th> <a th:href="@{/register}"><button type="button" name="button">Sign up</button></a></th>
  </tr>
</table>
 </div>
    
        
        <br>
        <p>The place where we can escape<br> from reality...</p>
        <br>
        
    <div>
    
      <table class="table table-striped table-bordered">
             <thead class="thead-dark">
                <tr>                  
                    <th>Titlu</th> 
                    <th>Gen</th> 
                    <th>Anul aparitiei</th> 
                    <th>Description</th> 
                     <th>Picture</th> 
                           
                </tr>
            </thead>
            <tbody >
                <tr th:each="movie: ${listMovies}">
                    <td th:text="${movie.titlu}">Titlu</td>
                    <td th:text="${movie.gen}">Gen</td>
                    <td th:text="${movie.an_aparitie}">An apritie</td>
                    <td th:text="${movie.description}">Description</td>
                    <td><img th:src="@{${'/image/display/'+ movie.id}}" 
                class="card img-fluid" style="width:100px; height:100px" alt=""/></td>
                 <td><a th:href="@{/image/imageDetails(id=${movie.id})}" class="btn btn-info text-right" target="_self">View</a></td>
              		
                </tr>
            
            </tbody>
        </table>
				
    
    </div>
   </div>  
</body>
</html>