<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>List Users</title>
    <link rel="stylesheet" href="\css\style.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" th:src="@{|/js/script.js|}"></script>
   
</head>
<body th:style="${'background: #66ccff'} ">
<div th:fragment="header">
<table>
<tr>
 <th rowspan="2"><img  th:src="@{/Img/logo.png}"/></th>
 <th rowspan="2" class="titlu"><h2>My cinema</h2></th>
<!--<th class="buton"><a th:href="@{/login}"><button type="button" name="button" class="button1">Go back</button></a></th>
--></tr>
<tr>
 <th class="buton" > <a th:href="@{/home}"><button type="button" name="button" class="button2">Sign out</button></a></th>
  </tr>
</table>
 </div>
<div class="container text-center">
    <div>
        <form  th:object="${user}" th:action="@{|/dologout/${#request.userPrincipal.principal.id}|}"
            th:method="put" >
            <p>
                Welcome <b>[[${#request.userPrincipal.principal.fullName}]]</b>
            </p>
            
        </form>
    </div>
    
			
<!-- 			 <form id="form" th:action="@{/image/saveImageDetails/{${#request.userPrincipal.principal.id}}" method="POST" enctype="multipart/form-data"> -->
<!-- 				<div class="contact-grids1 w3agile-6"> -->
<!-- 					<div class="row">					 -->
<!-- 						<div class="col-md-6 col-sm-6 contact-form1 form-group"> -->
<!-- 							<label class="col-form-label">Image</label> -->
<!-- 							<input type="file" class="form-control" placeholder="" th:name="image" id="image" required="required"> -->
<!-- 							<p id="error_file"></p> -->
<!-- 						</div> -->
<!-- 					</div> -->
					
<!-- 						<div class="right-w3l col-md-6"> -->
<!-- 							<input type="submit" id="submit" class="btn btn-primary form-control" value="Save"> -->
<!-- 							<br><br> -->
<!-- 						</div>						 -->
<!-- 				</div> -->
<!-- 				<br> -->
<!-- 				<div id="success" class="text-center" style="color:green;"></div> -->
<!-- 				<div id="error" class="text-center" style="color:red;"></div> -->
				
<!-- 			</form> -->
				
			</div>
			<br>
			<br>
				<table>
						<tr>
							<th>First Name:</th>
							<th>Last Name </th>
							<th>Email</th>
							
						</tr>
					
					
						<tr>
							<td th:text="${first_name}"></td>
							<td th:text="${last_name}"></td>
							<td th:text="${email}"></td>
						</tr>
				</table>

		<form th:object="${user}" th:action="@{|/editUser/${#request.userPrincipal.principal.id}|}" th:method="post" >
	            <label for="fname">First name:</label>
	            <input type="text" th:value="${first_name}" name="e_first_name"/><br>
	            <label for="lname">Last name:</label>
	            <input type="text" th:value="${last_name}" name="e_last_name"/><br>
	            <label for="email">Email:</label>
	            <input type="text" th:value="${email}" name="e_email"/><br>
<button class="button1" type="submit">save</button>
<br>
        </form>
        <div>
  <form th:object="${user}" th:action="@{|/updatePassword|}" th:method="post">
  <label for="pwd">Old password:</label>
    <input  th:name="oldpass" type="password" /><br>
    <label for="pwd">New password:</label>
    <input th:name="pass" type="password" /><br>
    <label for="pwd">New password:</label>
    <input  th:name="passConfirm" type="password" /><br>             
    <span th:name="error" style="display:none">Password mismatch</span>
                    
   <button class="button1" type="submit">Change Password</button>
</form>
</div>
 


	</div>
</div>

</body>
</html>